@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg--color: #081b29;
  --secong-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg--color);
  color: var(--text-color);
}

#lastname{
  color: var(--main-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.header.sticky {
  background: var(--bg--color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
}

.navbar a:hover,
.navbar .active {
  color: var(--main-color);
}

#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
}

.home-content {
  max-width: 60rem;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 span {
  color: rgb(248, 141, 2);
}
.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}

.home-content .text-animate h3 {
  font-size: 3rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  
}
.home.show-animate .home-content .text-animate h3{
animation: homeBgText 6s linear infinite;
animation-delay: 2s;

}

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

.home-content .text-animate h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before{
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;

}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

.home-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg--color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg--color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg--color);
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-evenly;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 25px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a .bxl-github {
  font-size: 30px;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg--color);
}

.home-sci a:hover::before {
  width: 100%;
}

#home-image {
  width: 55rem;
  margin: 2rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--secong-bg-color);
  padding-bottom: 5rem;
  min-height: 100vh;
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--secong-bg-color);
  border-bottom: 0.2rem solid var(--secong-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
  
}

.about-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  position: relative;
  border-left: 0.2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
  left: -1.1rem;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--secong-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.education-content .content:hover:before {
  width: 100%;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
  font-weight: 600;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--secong-bg-color);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg--color);
  z-index: -1;
  transition: 0.5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  display: flex;
  font-size: 1.7rem;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 50%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
  width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(8) .bar span {
  width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(9) .bar span {
  width: 50%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(10) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(10) .bar span {
  width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(11) .bar span {
  width: 50%;
}


.skills-column:nth-child(1) .skills-content .progress:nth-child(12) .bar span {
  width: 40%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(13) .bar span {
  width: 50%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(14) .bar span {
  width: 30%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(15) .bar span {
  width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(16) .bar span {
  width: 40%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 50%;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.project-card {
  width: 45%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
 
}

.left-project-card img {
  width: 100%;
  height: auto;
  filter: grayscale(100%); /* Convert image to black and white */
  transition: filter 0.3s ease-in-out;
}

.left-project-card img:hover {
  filter: none; /* Remove black and white filter on hover */
}

.right-project-card {
  position: relative;
  font-size: medium;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.17);
  
}

.project-title {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

.project-title small {
  font-size: 12px;
  margin-bottom: 20px;
}

.project-title h3 {
margin-top: 4px;
 font-size: 25px;
}

.project-summary {
  padding-top: 77px;
  font-size: 15px;
}

.project-skills {
  padding-top: 20px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 2px;
}

.project-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: inherit;
}

.share-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.share-icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.share-button:hover .share-icon {
  transform: translateX(5px);
}

.share-text {
  font-size: 14px;
 

}

.share-button:hover .share-text {
  opacity: 1;
}



.contact {
  min-height: 80vh;
  padding-bottom: 7rem;
  background: var(--secong-bg-color);
}

.info {
 
  padding-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
  text-align: justify;
}

.info:nth-child(3) p a {
  color: var(--main-color);
}
.info:nth-child(1) p a {
  color: var(--main-color);
}

.info:nth-child(2) .icon {
  width: 3rem;
}

.info:nth-child(3) .icon {
  width: 3rem;
}
.info:nth-child(4) .icon {
  width: 3rem;
}

.info p a {
  color: var(--text-color);
  font-size: 2rem;
}

.icon {
  width: 4rem;
  height: 100%;
}
.info {
  position: relative; /* To create a stacking context for absolute positioning */
  transition: opacity 0.2s ease; /* Smooth transition for opacity changes */
}

.info:hover .icon {
  opacity: 0.3; /* Adjust the opacity value as needed */
}



.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
  
}

.footer-text {
  font-size: 1.6rem;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--secong-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg--color);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--main-color);
}

.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg--color);
  z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}


section:nth-child(odd) .animate.scroll{
  background: var(--secong-bg-color);
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
.animate.scroll {
  transition: 1s ease;
  transition-delay: calc(0.3s / var(--i));
  animation: none;
}
.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,

.education.show-animate .education-box .animate.scroll {
  transition-delay: calc(0.3s * var(--i));
  width: 0;
}


.container {
  display: flex;
  gap: 15px;
  flex-direction: row;
  margin-top: 8px;
}


.square-container{
 font-size: 11px;
 color: var(---text-color);
 font-size: 11px;
 text-align: justify;
}

/* Define the style for the underline animation */
.underline-animation {
  text-decoration: none;
  position: relative;
  color: var(--main-color);
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1px;
  background-color: var(--main-color); /* Change this color as needed */
  bottom: -2px;
  left: 0;
  transform: scaleX(0); /* Initially, the underline is not visible */
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(1); /* When hovering, the underline expands to 100% width */
  transform-origin: left;
}

.underline-animation:hover {
  color: white; /* Change the color to white on hover */
}

.project-display{
  text-decoration: none;
  position: relative;
  color: var(--main-color);
}

.centered-div {
  margin-top: 100px;
  text-align: center;
}

.centered-div h3 {
  font-size: 2.8rem;
  color: white;
}



.archive-animation {
  position: relative;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  
}

.archive-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1px;
  background-color: var(--main-color); /* Change this color as needed */
  bottom: -2px;
  left: 0;
  transform: scaleX(0); /* Initially, the underline is not visible */
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.archive-animation:hover::after {
  transform: scaleX(1); /* When hovering, the underline expands to 100% width */
  transform-origin: left;
}

.custom-container {
  display: flex;
  margin-top: 40px;
  overflow: hidden;
  
 
}

.custom-card {
  width: 500px;
  height: 700px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
}

.custom-card:hover {
  transform: translateY(-10px);
}

.custom-folder-icon {
  width: 50x;
  height: 50px;
  position: absolute;
  top: 20px; /* Adjust the top position for spacing */
  left: 35px; /* Adjust the left position for spacing */
}

.custom-share-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 20px; /* Adjust the top position for spacing */
  right: 10px; /* Adjust the right position for spacing */
}

.custom-card-image {
 
  width: 332px;
  height: 187px ;
  display:block;
  margin: 0 auto;
  margin-top: 135px; 
  margin-right: 95px;/* Add margin for spacing below the share and folder icons */
  
}

.custom-card-heading {
  position: absolute;
  top: 80px; /* Adjust the top position for spacing */
  left: 35px; /* Adjust the left position for spacing */
  margin-top:25px;
  font-size: 18px;
  
}
.img-card-container.custom-card-image{
  max-width: 100%; /* Ensure the image doesn't exceed the width of the div */
  max-height: 100%; /* Ensure the image doesn't exceed the height of the div */
  display: block;
}
.img-card-container p {
  position: absolute;
  margin-top: 40px;
  font-size: 14px;
  text-align: justify;
  
}

.card-skills{
  position: absolute;
  top: 600px; /* Adjust the top position for spacing */
  left: 36px; /* Adjust the left position for spacing */
  
}

.other-projects-div{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.quarkus{
  height: 15px;
  width: 15px;
  margin-left: 6px;
}
